[Desktop Entry]
Name=KeyPeek
Comment=Quick view and search for keyboard shortcuts
Type=Application
Icon=io.github.l-const.keypeek
Exec=keypeek-applet %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
